<div class="row">
    <app-sidebar class="col-md-3"></app-sidebar>
    <div class="col-md-9">
        <div class="contenedorCuerpo pt-5" id="contenidoPrincipal">
            <div class="container">
                <div class="row">
                    <div class="container">
                        <ul class="responsive-table">
                            <li class="table-header row">
                                <div style="float: left;width: 12%;text-align: center;">Fecha</div>
                                <div style="float: left;width: 10%;text-align: center;">Inicio</div>
                                <div style="float: left;width: 10%;text-align: center;">Fin</div>
                                <div style="float: left;width: 12%;text-align: center;">Ambiente</div>
                                <div style="float: left;width: 28%;text-align: center;">Materia</div>
                                <div style="float: left;width: 26%;text-align: center;">Motivo</div>
                            </li>
                            <li class="table-row row " *ngFor="let booking of bookings">                                
                                <div style="float: left;width: 12%;text-align: center;">{{booking.date | date:'shortDate' }}</div>
                                <div style="float: left;width: 10%;text-align: center;">{{booking.startTime}}</div>
                                <div style="float: left;width: 10%;text-align: center;">{{booking.endTime}}</div>
                                <div style="float: left;width: 12%;text-align: center;">{{booking?.classRoom.name}}</div>
                                <div style="float: left;width: 28%;text-align: center;">{{booking.matter.name}} Grupo: {{booking.matter.group}}</div>
                                <div style="float: left;width: 26%;text-align: center;">{{booking?.reason}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>