<div class="row" style="width: 100vw;">
    <!--Imagen lateral de login-->
    <div class="col-md-6">
        <img src="assets/img/Inici.jpg" class="img-principal" alt="fondo-inicio">
    </div>
    <!--Espacio de login-->
    <div class="col-md-6">
        <div class="container">
            <!--Logo y bienvenida-->
            <img src="assets/img/Logo-facultad.jpg" class="LogoFac" alt="Logo facultad">
            <h1 class="text-center pt-5 pb-5">Bienvenido!</h1>
            <div class="titulo-ini text-center">
                <h3>SISTEMA DE ASIGNACION DE AULAS</h3>
            </div>
            <!--Formulario de solicitud de datos de ingreso-->
            <div class="row-correo-ingreso">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="row pt-5 pb-3">
                        <div class="col-md-6">
                            <p>Correo Electronico:</p>
                        </div>
                        <div class="col-md-6">
                            <input type="text" formControlName="username">
                        </div>
                    </div>

                    <div class="row pt-3 pb-5">
                        <div class="col-md-6">
                            <p>Contraseña: </p>
                        </div>
                        <div class="col-md-6">
                            <input type="password" formControlName="password">
                        </div>
                    </div>
                </form>
            </div>
            <!--Boton de validacion de datos y enlace por olvido de contraseña-->
            <div class="text-center pt-5">
                <button (click)="login()">INICIAR SESION</button>
                <p>Olvidaste tu contraseña?</p>
            </div>
        </div>
    </div>
</div>