//Config texto
h1 {
    padding-top: 30%;
    color: #0068a1;
    font-family: 'Roboto', sans-serif;
}
p{
    color: #546E7A
}
//Configuracion boton
button{
    background-color: #0068A1;
    color: #FFFFFF;
    border-radius: 20px;
    width: 170px;
    height: 40px;
}
//CConfiguracion imagen
.img-principal{
    width: 100%;
    height: 100%;
}
.LogoFac{
    width: 100%;
    height: 10%;
}
.titulo-ini{
    padding-bottom: 30px;
}