<div class="row">
    <div class="col-md-6 text-center">
        <img src="assets/img/Inici.jpg" class="img-principal" alt="fondo-inicio">
    </div>
    <div class="col-md-6">
        <img src="assets/img/Logo-facultad.jpg" class="LogoFac" alt="Logo facultad">
        <h1 class="text-center">Bienvenido!</h1>
        <div class="titulo-ini text-center">
            <h3>SISTEMA DE ASIGNACION DE AULAS</h3>
        </div>
        <div class="text-center">
            <button routerLink="/login">INICIAR SESION</button>
        </div>
    </div>
</div>